@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
	--content-max-size: 144rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  background-color: #363536;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 400;
}

.flex-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  max-width: var(--content-max-size);
  margin: 0 auto;
  justify-content: space-between;
  padding: 2rem 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* =============================================================== */
/* Custom scroolbar
/* =============================================================== */

.scrollbar::-webkit-scrollbar {
  width: 16px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track:hover, 
.scrollbar::-webkit-scrollbar-track:active {
  background-color: #5e6366;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #797e81;
}

.scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #909497;
}

/* =============================================================== */
/* Header
/* =============================================================== */

header {
  height: 6.1rem;
}

header > .wrapper {
  height: 100%;
  align-items: center;
  padding: 0.8rem 1rem;
}

.link-main {
  font-family: 'Crimson Pro';
  font-weight: 200;
  font-size: 1.4rem; 
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 0.4rem 0.5rem 0.5rem;
}

.menu-button {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 0;
  /* padding-top: 2rem; */
  /* line-height: 1; */
}

.menu-icon::before {
  display: block;
  font-family: 'Material Symbols Rounded';
  font-weight: 400;
  content: "\e5d2";
  font-size: 4rem;
  /* line-height: 1; */
  top: 0rem;
  left: 0rem;
}

.menu-popup-overlay {
  display: none;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-color: #363536;
  opacity: 0.95;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.menu-popup-items {
  position: relative;
  height: 100vh;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-item {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem transparent solid;
  font-weight: 500;
}

.mobile-item:hover {
  border-bottom: 0.2rem #fff solid;
  font-weight: 700;
}

.menu-close {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 0;
  top: 1rem;
  right: 1rem;
}

.close-icon::before {
  display: block;
  font-family: 'Material Symbols Rounded';
  font-weight: 400;
  content: "\e5cd";
  font-size: 4rem;
  line-height: 1;
}

nav {
  display: none;
}

.link-menu {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  border-top: 0.2rem transparent solid;
  border-bottom: 0.2rem transparent solid;
  margin-left: 8rem;
}

.link-menu:hover {
  font-weight: 700;
  border-bottom: 0.2rem #fff solid;
}

.link-menu::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* =============================================================== */
/* Main
/* =============================================================== */

main {
  background-color: rgb(60, 57, 62);
  flex-grow: 1;
  display: flex;
  align-items: center;
}

main > .wrapper {
  flex-direction: column;
}

.main-information h1 {
  font-family: 'Lora', sans-serif;
  font-weight: 500;
  font-size: 3.6rem;
  margin-bottom: 2.5rem;
}

.main-information p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.main-information a {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 3.5rem;
}

.arrow-link-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 15rem;
}

.arrow-link-wrapper:hover {
  color: #fff;
  /* transform-style: preserve-3d; */
  /* transition: transform 2s; */
  /* transition: -webkit-transform 2s; */
  /* -webkit-transform: rotateY(360deg); */
  /* transform: rotateY(360deg); */
}

.arrow::before {
  display: block;
  position: absolute;
  font-family: 'Material Symbols Rounded';
  font-weight: 700;
  content: "\e941";
  top: 0rem;
  font-size: 1.6rem;
  left: 8.6rem;
}

.main-photo {
  display: flex;
  flex-direction: column;
}

.interior {
  width: 100%;
  max-width: 99rem;
}

.designer-wrapper {
  width: 80%;
  max-width: 30rem;
  background-color: #363536;
  padding: 1.5rem;
  padding-left: 2rem;
  align-self: end;
  margin-right: 1.5rem;
  margin-top: -5.5rem;
  box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
}

.designer {
  display: flex;
  align-items: center;
}

.designer-photo {
  border-radius: 50%;
  width: 4rem;
}

.designer-name-and-role {
  padding-left: 1.5rem;
}

.designer-name {
  display: block;
  font-size: 1.2rem;
  font-size: 500;
}

.designer-role {
  display: block;
  color: #828282;
  font-size: 1rem;
  font-size: 500;
}

.description {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 21rem;
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

/* =============================================================== */
/* Footer
/* =============================================================== */

footer {
  height: 6.1rem;
}

footer > .wrapper {
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer p {
  text-align: center;
  color: #A9A9A9;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1.2rem;
}

footer p a {
  color: inherit;
  font-family: inherit;
}

footer p a:hover {
  text-decoration: underline;
}

/* =============================================================== */
/* Responsivity
/* =============================================================== */

@media (min-width: 768px) {

  .menu-button {
    display: none;
  }

  nav {
    display: inline-block;
  }

  .wrapper {
    padding: 2rem 2rem;
  }

  header > .wrapper {
    align-items: center;
    padding: 0.8rem 2rem;
  }

  main {
    display: flex;
  }

  main > .wrapper {
    width: 100%;
  }

  .main-information {
    align-self: flex-start;
    min-width: 40%;
  }

  .arrow::before {
    font-size: 1.6rem;
    left: 8.7rem;
  }

  .main-photo {
    align-self: flex-start;
    align-items: flex-end;
    min-width: 60%;
  }

  .main-information h1 {
    font-size: 4.8rem;
  }
  
  .main-information p {
    font-size: 2rem;
  }
  
  .main-information a {
    font-size: 1.5rem;
  }

  .arrow::before {
    font-size: 1.7rem;
    left: 9.5rem;
  }

  .designer-wrapper {
    max-width: 41rem;
    padding: 2rem;
    padding-left: 2.5rem;
    margin-right: 3.2rem;
    margin-top: -7.8rem;
  }

  .designer-photo {
    width: 5rem;
  }

  .designer-name {
    font-size: 1.4rem;
  }
  
  .designer-role {
    font-size: 1.2rem;
  }
  
  .description {
    max-width: 28rem;
    font-size: 2.4rem;
  }

}

@media (min-width: 1000px) {

  main > .wrapper {
    flex-direction: row;
  }

  .main-information {
    margin-top: -5rem;
    align-self: center;
  }

  .main-photo {
    align-self: center;
  }

}

@media (min-width: 1280px) {

  .main-information h1 {
    font-size: 6.1rem;
  }
  
  .main-information p {
    font-size: 2.4rem;
  }
  
  .main-information a {
    font-size: 1.8rem;
  }

  .arrow::before {
    font-size: 2rem;
    left: 11.5rem;
  }

}
